#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(10, 221, 3);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 320px;
}

body {
    background-color: rgb(255, 166, 0);
}
